{% extends "base.html" %}

{% block content %}
  <h1>
    TODO list
    <a href="{% url 'to_do_list:add-task' %}" class="btn btn-primary link-to-page">
      Add task
    </a>
  </h1>

  {% if task_list %}
    <ul>
      {% for task in task_list %}
        <li>
          <h5>{{ task.content }}</h5>
          <p>Created: {{ task.datetime }}</p>

          {% if task.done %}
            <p class="text-success">Done</p>
          {% else %}
            <p class="text-danger">Not done</p>
          {% endif %}

          {% if task.ded %}
            <p>deadline: {{ task.deadline }}</p>
          {% endif %}

          <ul>
            Tags:
            {% for ts in task.tags.all %}
              <li>{{ ts.name }}</li>
            {% endfor %}
          </ul>

        </li>
        <a href="{% url "to_do_list:update-task" pk=task.id %}">update</a>
        <a href="{% url "to_do_list:delete-task" pk=task.id %}">delete</a>

        {% if task.done %}
          <form action="{% url 'to_do_list:complete-task' pk=task.id %}" method="post" class="link-to-page">
            {% csrf_token %}
            <input class="btn btn-success" type="submit" value="Undo">

          </form>
            {% else %}
          <form action="{% url 'to_do_list:undo-task' pk=task.id %}" method="post" class="link-to-page">
            {% csrf_token %}
           <input class="btn btn-danger" type="submit" value="Complete">
          </form>
        {% endif %}

      {% endfor %}
    </ul>
  {% else %}
    <p>There are no task</p>
  {% endif %}
{% endblock %}
