{% extends "base.html" %}

{% block content %}
  <h1>
    Tag list
    <a href="{% url 'to_do_list:add-tag' %}" class="btn btn-primary link-to-page">
      Add new tag
    </a>
  </h1>

    {% if tag_list %}
    <table class="table">
      <tr>
        <th>Name</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>

      {% for tag in tag_list %}
        <tr>
          <td>
            <h5>"{{ tag.name }}"</h5>
          </td>
          <td>
            <a class="btn btn-secondary" href="{% url "to_do_list:update-tag" pk=tag.id %}">UPDATE</a>
          </td>
          <td>
            <a class="btn btn-danger" href="{% url "to_do_list:delete-tag" pk=tag.id  %}">DELETE</a>
          </td>
        </tr>
      {% endfor %}
    </table>

  {% else %}
      <p>There are no tags</p>
  {% endif %}

{% endblock %}
